<header class="flex flex-wrap flex-column">
	<h1>pa-service: Test <%= page %> API</h1>
	<p><%= pageDescription %></p>

	<h3><a href="https://pa-service-prod.herokuapp.com">◀ return to PA-service Test Main</a></h3>
	<div class="flex items-baseline">
		<h4>result format:</h4>
		<input type="radio" id="seperate" name="type" value="seperate" class="ml1">seperate url</input>
		<input type="radio" id="inline" name="type" value="inline" class="ml1" checked="true">inline / ajax</input>
	</div>


</header>
