.bg-f3 {
	background-color: #f3f3f3;
}

h3, p {
	margin: 0 0 0.5em 0;
}

#generate-button {
	position: relative;
	font-size: 1em;
	background-color: #7cf;
	border: none;
	cursor: pointer;
	border-radius: 0.3em;
	box-shadow: 0 0.3em 0 #5af;
	width: initial;
	height: 2.5em;
	margin: .5em 0;
}

#generate-button:active {
	top: 0.1em;
	box-shadow: 0 0.2em 0 #5af;
	border-bottom: none;
}
